*{
    box-sizing: border-box;
}

input[type=text]{
    display:block;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}

input[type=password]{
    display:block;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
}